#main{
  background-color: whitesmoke;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  color: rgb(249, 144, 161);
}
h2{
  padding: 10px 5px 0 5px;
}
p{
  font-size: 20px;
  padding-top: 10px;
}
.btn:hover, .btn:focus{
  background-color: pink;
  border-color: pink;
  color: whitesmoke;
}